<section class="hero">
  <div class="container">
    <div class="swiper hero-swiper">
      <ul class="swiper-wrapper">
        <li class="swiper-slide">
          <img src="./images/hero/banner-1.jpg" alt="1" />
        </li>
        <li class="swiper-slide">
          <img src="./images/hero/banner-2.jpg" alt="2" />
        </li>
        <li class="swiper-slide">
          <img src="./images/hero/banner-3.jpg" alt="3" />
        </li>
        <li class="swiper-slide">
          <img src="./images/hero/banner-4.jpg" alt="4" />
        </li>
      </ul>
    </div>
    <div class="hero-bottom">
      <h1 class="hero-title">Discover Your Next Great Read Today!</h1>
      <button type="button" class="hero-btn hero-btn-prev"></button>
      <button type="button" class="hero-btn hero-btn-next"></button>
    </div>
  </div>
</section>
